body {
  margin: 0;
  padding: 0;
  
}

.full-view-div {
  background-image: url('images/background.jpeg');
  background-size: cover;
  background-position: center;
  height: 100%;

}



.welcome-text {
  margin-top: 40px;
  color: rgb(229, 229, 238);
  font-size: xx-large;
  text-align: center;
  text-decoration: solid;
  font-weight: bolder;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.card {
  background-color: rgb(34, 134, 34);
  color: white;
  font-weight: bolder;
  border: 1px solid black;
}

.accordion {
  width: 75%;
}

.product-full-view {
  height: 100vh;
  background-image: linear-gradient(-45deg, green, white);
}